@model IEnumerable<BookShop.Models.ViewModels.BooksIndexViewModel>
@{
    ViewData["Title"] = "AdvancedSearch";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@inject BookShop.Classes.ConvertData convertDate
@using ReflectionIT.Mvc.Paging
@addTagHelper*,ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                <span> نتیجه جستجو پیشرفته </span>
                <a href="/Admin/Book/Index" style="font-size:13px;" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست کتاب ها</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>عنوان</th>
                                <th>نویسندگان</th>
                                <th>شابک</th>
                                <th>موجودی</th>
                                <th>انتشارات</th>
                                <th class="text-center">قیمت</th>
                                <th class="text-center">تاریخ انتشار </th>
                                <th style="width:25px;">وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@{int i = ViewBag.NumOfRow;}*@
                            @{ 
                                int j = 1;
                            }
                            @foreach (var item in Model)
                             {
                                <tr>
                                    <td class="text-center">@j</td>
                                    <td class="text-nowrap">@item.Title</td>
                                    <td>@item.Author</td>
                                    <td>@item.ISBN</td>
                                    <td>@item.Stock</td>
                                    <td>@item.PublisherName</td>
                                    <td class="text-center">@item.Price</td>
                                    <td class="text-center">
                                        @if (item.PublishDate != null)
                                        {
                                            @convertDate.ConvertMiladiToShamsi((DateTime)item.PublishDate, "yyyy/MM/dd")
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (item.IsPublish == true)
                                        {
                                            <label class="badge badge-success btn-block">منتشر شده</label>
                                        }

                                        else
                                        {
                                            <label class="badge badge-info btn-block">پیش نویس</label>
                                        }

                                    </td>
                                    <td class="text-center">
                                        <a href="/Admin/Book/Detials/@item.BookID" class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>
                                        <a href="/Admin/Book/Edit/@item.BookID" class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>
                                        <a href="/Admin/Book/Delete/@item.BookID" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                                    </td>
                                </tr>
                                j++;
                             }

                        </tbody>
                    </table>

                    @*<nav>
                        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                    </nav>*@

                    @*<nav>
                            <vc:pager paging-list="@Model"></vc:pager>
                        </nav>*@


                </div>
            </div>
        </div>
    </div>
</div>


