@model ReflectionIT.Mvc.Paging.PagingList<BookShop.Models.ViewModels.BooksIndexViewModel>
@*@inject BookShop.Classes.ConvertDate convertDate*@
@using ReflectionIT.Mvc.Paging
@addTagHelper*,ReflectionIT.Mvc.Paging
@addTagHelper*,BookShop
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div id="modal-placeHolder"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                لیست کتاب ها
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> جستجو</button>
                                </span>
                                <input id="input-group-1" name="title" class="form-control" placeholder="عنوان کتاب را واردکنید ..." type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row form-group">
                                <label class="ml-2">تعداد ردیف</label>
                                <div class="col-md-4  padding-0px">
                                    <select class="select2" name="row" asp-items="@ViewBag.RowID"></select>
                                </div>
                                <div class="col-md-3 padding-0px">
                                    <input type="submit" value="نمایش بده" class="btn btn-primary float-left" />
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.Search != "")
                        {
                            <div class="col-md-4">
                                <a href="/Admin/Books/Index" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست کتاب ها   </a>
                            </div>
                        }

                    </div>
                </form>
                

                <p>
                    <a class="btn btn-primary btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        جستجوی پیشرفته کتاب
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <form asp-action="AdvancedSearch">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">عنوان</label>
                                        <input class="form-control" name="Title"  placeholder="عنوان">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">شابک</label>
                                        <input class="form-control" name="ISBN" placeholder="شابک">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">زبان</label>
                                        <select class="select2 js-states form-control" name="Language" asp-items="ViewBag.LanguageID">
                                            <option value="">همه زبان ها</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">دسته بندی</label>
                                        <input type="text" id="justAnotherInputBox" name="Category" placeholder="جستجو کنید" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">نویسنده</label>
                                        <select class="select2 js-states form-control" name="Author" asp-items="ViewBag.AuthorID">
                                            <option value="">همه نویسندگان</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">مترجم</label>
                                        <select class="select2 js-states form-control" name="Translator" asp-items="ViewBag.TranslatorID">
                                            <option value="">همه مترجمان</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">ناشر</label>
                                        <select class="select2 js-states form-control" name="Publisher" asp-items="ViewBag.PublisherID">
                                           <option value="">همه ناشرین</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" value="جستجو" class="btn btn-success float-left" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>@Html.SortableHeaderFor(model=>model.Title,"Title")</th>
                                <th>@Html.SortableHeaderFor(model => model.Author, "Author")</th>
                                <th>@Html.SortableHeaderFor(model => model.ISBN, "ISBN")</th>
                                <th>@Html.SortableHeaderFor(model => model.Stock, "Stock")</th>
                                <th>@Html.SortableHeaderFor(model => model.PublisherName, "PublisherName")</th>
                                <th class="text-center">@Html.SortableHeaderFor(model => model.Price, "Price")</th>
                                <th class="text-center">@Html.SortableHeaderFor(model => model.PublishDate, "PublishDate")</th>
                                <th style="width:25px;">@Html.SortableHeaderFor(model => model.IsPublish, "IsPublish")</th>
                                <th class="text-center">دانلود فایل</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                int i = ViewBag.NumOfRow;
                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="text-center">@i</td>
                                        <td class="text-nowrap">@item.Title</td>
                                        <td>@item.Author</td>
                                        <td>@item.ISBN</td>
                                        <td>@item.Stock</td>
                                        <td>@item.PublisherName</td>
                                        <td class="text-center">@item.Price</td>
                                        <td class="text-center">
                                            @item.PublishDate
                                        </td>
                                        <td class="text-center">
                                            <label class="badge @(item.IsPublish=="منتشر شده"?"badge-success":"badge-danger") btn-block">@item.IsPublish</label>
                                        </td>
                                        <td class="text-center">
                                            <a asp-action="Download" asp-route-id="@item.BookID" class="btn btn-info btn-sm">دانلود</a>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info btn-icon deteail" data-toggle="ajax-modal" data-url="@Url.Action("Details" , "Books" , values: new {id = item.BookID})"><i class="fa fa-eye text-white"></i></button>
                                            @*<a onclick="Detail(@item.BookID)" class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>*@
                                            @*<a href="/Admin/Books/Details/@item.BookID" class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>*@
                                            <security-trimming asp-action="Edit" asp-controller="Books" asp-area="Admin">
                                                <a href="/Admin/Books/Edit/@item.BookID" class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>
                                            </security-trimming>

                                            <security-trimming asp-action="Delete" asp-controller="Books" asp-area="Admin">
                                                <a href="/Admin/Books/Delete/@item.BookID" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                                            </security-trimming>

                                        </td>
                                    </tr>
                                    i++;
                                }


                            }

                            else
                            {
                                <tr>
                                    <td class="col-11">هیچ کتابی در جدول وجود ندارد.</td>
                                </tr>

                            }

                        </tbody>
                    </table>

                    <nav>
                        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                    </nav>

                    @*<nav>
                            <vc:pager paging-list="@Model"></vc:pager>
                        </nav>*@

                    
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var SampleJSONData = @Html.Raw(Json.Serialize(ViewBag.Categories));
    var comboTree2;

jQuery(document).ready(function($) {
		comboTree2 = $('#justAnotherInputBox').comboTree({
			source : SampleJSONData,
			isMultiple: false
        });
});</script>
