@page "{CurrentPage:int?}"
@model BookShop.Areas.Admin.Pages.Publishers.IndexModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@Html.AntiForgeryToken()   @*baraye sakhtan input hidden ke token antiForgeryToken darad*@
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                ناشرین کتاب
            </div>
            <div class="card-body">
                <p>
                    <a id="insert"  class="btn btn-primary text-white">افزودن ناشر جدید</a>
                </p>
                <form method="post">
                    <table id="table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    ناشر
                                </th>
                                <th class="text-center">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Publishers)
                            {
                                <tr>
                                    <td>
                                        @item.PublisherName
                                    </td>
                                    <td class="text-center">
                                        <a asp-page="./Edit" asp-route-id="@item.PublisherID" class="btn btn-success btn-icon">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <button type="submit" asp-route-id="@item.PublisherID" asp-page-handler="Delete" class="btn btn-danger btn-icon">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <ul class="pagination">
                        @if(Model.ShowPrevious)
                        {
                            <li class="page-item">
                                <a asp-page="./Index" asp-route-CurrentPage="@(Model.CurrentPage-1)" class="page-link">«</a>
                            </li>
                        }

                        @for(int i=1;i<=Model.TotalPages;i++)
                        {
                            <li class="page-item @(i==Model.CurrentPage?"active" : "")">
                                <a asp-page="./Index" asp-route-CurrentPage="@i" class="page-link">
                                    @i
                                </a>
                            </li>
                        }

                        @if(Model.ShowNext)
                        {
                            <li class="page-item">
                                <a asp-page="./Index" asp-route-CurrentPage="@(Model.CurrentPage+1)">
                                    »
                                </a>
                            </li>
                        }
                    </ul>
                </form>
                
            </div>
        </div>
    </div>
</div>

<script>
    $("#insert").click(function () {
        if ($("#nameInput").length == 0)
            $("#table tr:first").after("<tr><td><input id='nameInput' type='text' class='form-control' placeholder='نام ناشر را وارد کنید.' /></td><td class='text-center'><a class='btn btn-success btn-sm text-white' onclick='Insert()'>افزودن</a> <a class='btn btn-danger btn-sm text-white' onclick='cancel()'>انصراف</a> </td></tr>")
    });

    function cancel() {
        $("#table thead tr:nth-child(2)").remove();
    }

    function Insert() {
        var obj = {};
        obj.PublisherName = $("#nameInput").val();
        $.ajax({
            url: "/Admin/Publishers/Index/@Model.CurrentPage?handler=Insert",
            type: "post",
            data: JSON.stringify(obj),
            dataType : "json" ,
            contentType: "application/json; charset=utf-8",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val()); /*ein token baray jologiry az hamle CSRF ezafe mishavad*/
                $("body").preloader();
            },
            success: function (response) {
                alert("hooooo");
                BindData(response.publishers, response.currentPage, response.totalPages);
            },
            failure: function (response) {
                alert(response);
            },
            complete: function () {
                $("body").preloader("remove");
            },
        });
    }

    function BindData(tableData, currentPage, totalPage) {
        alert("hiiiiiiii");
        var tbody = $("#table tbody");
        var pagingUl = $(".pagination");
        tbody.empty();
        pagingUl.empty();
        if (currentPage > 1)
            pagination.append('<li class="page-item"><a class= "page-link" href = "/Admin/Publishers/' + parseInt(currentPage - 1) + '" >«</a></li>')

        for (var i = 1; i <= totalPage; i++) {
            var activeClass = "";
            if (i == currentPage)
                activeClass = "active";

            var htmlLi = ['<li class="page-item ', activeClass, '">', '<a class="page-link" href="/Admin/Publishers/ ', i, '">', i, '</a>', '</li>'];
            pagination.append(htmlLi.join(''));
        }

        if (currentPage < totalPage)
            pagination.append('<li class="page-item"><a class= "page-link" href = "/Admin/Publishers/' + parseInt(currentPage + 1) + '" >»</a></li>')

        $('thead tr:nth-child(2)').remove();

        var JsonArray = JSON.parse(tableData);
        for (var i = 0; i < JsonArray.length; i++) {
            var htmlRow = ['<tr>', '<td>', JsonArray[i]["PublisherName"], '</td>', '<td class="text-center"> <a asp-page="./Edit" asp-route-id="' + JsonArray[i]["PublisherID"] + '" class="btn btn-success btn-icon text-white"><i class="fa fa-edit"></i></a> <button type="submit" asp-route-id="' + JsonArray[i]["PublisherID"] + '" asp-page-handler="Delete" class="btn btn-danger btn-icon"><i class="fa fa-trash"></i></button></td>', '</tr>'];
            tbody.append(htmlRow.join(''));
        }
        
    }
</script>